Repository unlock-protocol/unlock, pull requests merged in 2019-05, with the labels that each got.

#2940 Introduces first pass at fulfillment integration into Locksmith
  locksmith/__tests__/controllers/purchaseController.test.ts
  locksmith/__tests__/payment/paymentProcessor.test.ts
  locksmith/src/controllers/purchaseController.ts
  locksmith/src/fulfillment/dispatcher.ts
  locksmith/src/payment/paymentProcessor.ts
  locksmith/src/types.ts
Labels: Locksmith, User Accounts

#2972 Exposes endpoint for updating password encrypted private key
  locksmith/__tests__/controllers/userController.test.ts
  locksmith/__tests__/operations/userOperations.test.ts
  locksmith/src/controllers/userController.ts
  locksmith/src/operations/userOperations.ts
  locksmith/src/routes/user.ts
Labels: Locksmith, User Accounts

#3019 Updates compose file indicating the use of ganache-cli in testing
  docker/docker-compose.ci.yml
Labels: Locksmith, testing

#3038 Adds duration storage for events
  locksmith/migrations/20190506191053-add_event_duration.js
  locksmith/src/models/event.ts
Labels: Locksmith, tickets

#3039 Updates event structured data
  locksmith/__tests__/controllers/eventController.test.ts
  locksmith/src/types.ts
  tickets/src/structured_data/unlockEvent.js
Labels: Locksmith, tickets

#3059 Make signup form password-manager-compatible
  unlock-app/src/__tests__/storybook/__snapshots__/storyshots.test.js.snap
  unlock-app/src/components/interface/FinishSignup.tsx
Labels: User Accounts, frontend

#3136 WalletCheckOverlay now uses new modal implementation
  unlock-app/src/__tests__/actions/walletStatus.test.js
  unlock-app/src/__tests__/middlewares/walletMiddleware.test.js
  unlock-app/src/__tests__/reducers/walletStatusReducer.test.js
  unlock-app/src/__tests__/storybook/__snapshots__/storyshots.test.js.snap
  unlock-app/src/actions/walletStatus.js
  unlock-app/src/components/interface/FullScreenModals.js
  unlock-app/src/components/interface/FullScreenModals.tsx
  unlock-app/src/createUnlockStore.js
  unlock-app/src/middlewares/walletMiddleware.js
  unlock-app/src/pages/_app.js
  unlock-app/src/reducers/walletStatusReducer.js
  unlock-app/src/stories/creator/Dashboard.stories.js
  unlock-app/src/stories/interface/FullScreenModals.stories.js
  unlock-app/src/stories/interface/WalletCheckOverlay.stories.js
Labels: Epic, frontend

#3141 Introducing the Password Prompt
  unlock-app/src/__tests__/actions/user.test.ts
  unlock-app/src/__tests__/components/interface/modal-templates/PasswordPrompt.test.tsx
  unlock-app/src/__tests__/storybook/__snapshots__/storyshots.test.js.snap
  unlock-app/src/actions/user.ts
  unlock-app/src/components/interface/FullScreenModals.tsx
  unlock-app/src/components/interface/modal-templates/PasswordPrompt.tsx
  unlock-app/src/components/interface/modal-templates/WalletCheck.tsx
  unlock-app/src/components/interface/modal-templates/index.ts
  unlock-app/src/components/interface/modal-templates/styles.ts
  unlock-app/src/stories/interface/FullScreenModals.stories.js
  unlock-app/src/unlockTypes.ts
Labels: Epic, frontend

#3164 Adding additional config details for Locksmith
  locksmith/config/config.js
Labels: Locksmith

#3162 The skeleton of standing up a local test net for development
  docker/TestErc20Token.json
  docker/deploy-unlock.js
  docker/ganache.dockerfile
  docker/package-lock.json
  docker/package.json
  docker/standup.sh
Labels: dev tools

#3200 Updated local docker config for development
  docker/development/TestErc20Token.json
  docker/development/deploy-locks.js
  docker/development/deploy-unlock.js
  docker/development/ganache.dockerfile
  docker/development/package-lock.json
  docker/development/package.json
  docker/development/standup.sh
  docker/docker-compose.development.yml
Labels: dev tools
